<a href="https://colab.research.google.com/github/SheilaG23/Biblioteca/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
file_path= ("CSV Laboratorio 4 AD-B.csv")
data=pd.read_csv(file_path)
data.head(10)

   ID     Name    Category         City  Value        Date
0   1  Charlie       Cat C      Chicago   46.0  2023-04-13
1   2     Jane       Cat C      Houston   53.0  2023-12-15
2   3     Jane  category a      Chicago   68.0  2023-09-28
3   4     John         NaN     New York   97.0  2023-04-17
4   5     Jane       Cat C      Houston   71.0  2023-03-13
5   6      Eve  category a  Los Angeles   61.0  2023-07-08
6   7     Jane  Category A      Chicago   48.0  2023-01-21
7   8      Bob  CATEGORY B     New York   65.0  2023-04-13
8   9      Bob  CATEGORY B  Los Angeles    NaN  2023-05-02
9  10     Dave  CATEGORY B  Los Angeles   11.0  2023-08-03

In [4]:
rows, columns = data.shape
print(f"El dataset tiene {rows} filas y {columns} columnas.")

El dataset tiene 60 filas y 6 columnas.

In [6]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        60 non-null     int64
 1   Name      60 non-null     object
 2   Category  50 non-null     object
 3   City      45 non-null     object
 4   Value     58 non-null     float64
 5   Date      60 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.9+ KB

              ID      Value
count  60.000000  58.000000
mean   26.316667  49.965517
std    14.179828  27.954829
min     1.000000  10.000000
25%    14.750000  27.000000
50%    26.500000  47.000000
75%    38.250000  68.750000
max    50.000000  99.000000

In [7]:
missing_values = data.isnull().sum()
print(missing_values)

ID           0
Name         0
Category    10
City        15
Value        2
Date         0
dtype: int64

In [8]:
duplicated_rows = data.duplicated().sum()
print(f"Duplicados: {duplicated_rows}")

Duplicados: 10

In [10]:
data_cleaned=data.drop_duplicates()

In [15]:
data["Category"]=data["Category"].fillna("Unknown")

In [9]:
city_value_counts = data["City"].value_counts()
print(city_value_counts)

City
Chicago        13
Houston        13
New York       12
Los Angeles     7
Name: count, dtype: int64

In [16]:
data["City"]=data["City"].fillna("Unknown city")

In [26]:
if 'Value' in data.columns:
    data['Value'] = data['Value'].fillna(data['Value'].median())

In [28]:
if 'City' in data.columns:
 data['City'] = data['City'].str.lower()

In [30]:
if 'Date' in data.columns:
 data['Date'] = pd.to_datetime(data['Date'], errors='coerce').dt.strftime('%Y/%m/%d')

In [34]:
print("Primeras filas del dataset despuès de la limpieza y normalizaciòn:")
print(data.head(10))

Primeras filas del dataset despuès de la limpieza y normalizaciòn:
   ID     Name    Category         City  Value        Date
0   1  Charlie       Cat C      chicago   46.0  2023/04/13
1   2     Jane       Cat C      houston   53.0  2023/12/15
2   3     Jane  category a      chicago   68.0  2023/09/28
3   4     John     Unknown     new york   97.0  2023/04/17
4   5     Jane       Cat C      houston   71.0  2023/03/13
5   6      Eve  category a  los angeles   61.0  2023/07/08
6   7     Jane  Category A      chicago   48.0  2023/01/21
7   8      Bob  CATEGORY B     new york   65.0  2023/04/13
8   9      Bob  CATEGORY B  los angeles   47.0  2023/05/02
9  10     Dave  CATEGORY B  los angeles   11.0  2023/08/03